body {
    background-image: 
<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fa67e35-e39c-4511-8620-a39e574704ae/d8sqs4c-e822d5a1-800a-467a-a8d7-93b3212a2f2f.png/v1/fill/w_1024,h_753,q_80,strp/cute_ghost_background_by_curlycreeper_d8sqs4c-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzUzIiwicGF0aCI6IlwvZlwvMmZhNjdlMzUtZTM5Yy00NTExLTg2MjAtYTM5ZTU3NDcwNGFlXC9kOHNxczRjLWU4MjJkNWExLTgwMGEtNDY3YS1hOGQ3LTkzYjMyMTJhMmYyZi5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.RAibyF68HA_pH4V8oPrSAMdfSkslEnhSGjZJoZgbPPg";
background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;

}